<!DOCTYPE html>
<html>
<head>
    <title>CREDITS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<a href="\">HOME</a>
<a href="\quizzes">QUIZZES</a>

<h1> Autores </h1>
<p>Juan Adolfo Bausa Pérez</p>
</body>
</html>
